@inject Microsoft.AspNetCore.Identity.SignInManager<UdemyAppointmentShedule.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav nabar-nav">
            <li class="text-white nav-link">Hello, @User.Identity.Name!</li>
            <li class="text-white nav-link"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
</form>
}
 else
	{
<ul class="nav nabar-nav">
    <li>
        @*@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
        <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
    </li>

    <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
    @*<li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
</ul>
	}